/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  font-family: 'Quicksand', sans-serif;
}

.container {
  margin: 30px;
}

.hidden {
  display: none;
}

/* ---- typography ---- */
h1 {
  color: blue;
  font-size: 36px;
}

h2 {
  color: blue;
  font-size: 28px;
}

h3 {
  padding-right: 30px;
  color: blue;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

/* ---- button ---- */

button.button {
  background-color: pink;
  padding: 20px 40px;
  border-radius: 25px;
  border: 2px solid fuchsia;
  color: fuchsia;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 10px;
  width: 250px;
}

button.esc {
  background-color: pink;
  padding: 7px 10px;
  border: 2px solid fuchsia;
  color: fuchsia;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase
}

div.button-esc {
  display: flex;
  justify-content: flex-end;
}

/* ---- start section ---- */

section.start-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
img.start-heart {
  width: 150px;
  margin: 20px;
}

/* ---- canvas ---- */

.game {
  height: 100vh;
  position: relative;
}

.canvas {
  height: calc(100% - 100px);
}

/* ---- game ---- */

header.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: lightpink;
  border: 2px solid fuchsia;
  padding: 10px 20px;
}

div.lives {
  display: flex;
  align-items: center;
}

div.lives-images {
  color: fuchsia;
}

/* ---- Game Over ---- */

div.game-over {
  display: flex;
  flex-direction: column;
}